@import 'tailwindcss';

html,
body,
#__next__ {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: var(--font-roboto), ui-sans-serif, system-ui, sans-serif;
}

/* Títulos com Montserrat */
.font-montserrat {
  font-family: var(--font-montserrat);
}

/* Corpo de texto com Roboto (opcional, já definido no body) */
.font-roboto {
  font-family: var(--font-roboto);
}

/* Small helpers */
.container {
  max-width: 1200px;
  margin: 0 auto;
}
